{% extends 'gestion_usuarios/usuario_detail.html' %}

{% block titulo %}Detalles Administrador{% endblock titulo %}

{% block url_detalles %}
{% url 'gestion_usuarios:administrador:detalles' object.id %}
{% endblock url_detalles %}

{% block tipo_usuario %} Administrador {% endblock tipo_usuario %}

{% block mas_detalles %}
    <li class="list-group-item">
        <span class="pull-right"> <a href="{% url 'gestion_usuarios:administrador:actualizar'  object.id %}">Modificar información</a> </span>
    </li>
{% endblock mas_detalles%}