{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="#">Gestión de usuarios</a>
    <li class="active">Detalles del perfil</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
Detalles {{ user.get_full_name | capfirst }}
{% endblock titulo_pagina %}

{% block titulo %}
    Detalles Usuario
{% endblock titulo %}

{% block contenido %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <h2>{{ object.get_full_name | capfirst }}</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" src="{{ object.foto.url }}"
                                             style="width: 62px">
                                    </div>
                                </div>

                            </div>
                            <div class="client-detail">
                            <div class="full-height-scroll">

                                <strong>{% block tipo_usuario %} {% endblock tipo_usuario %}</strong>

                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        Usuario
                                        <span class="pull-right">  {{ object.username  }} </span>
                                    </li>
                                    <li class="list-group-item">
                                        Correo Electrónico
                                        <span class="pull-right"> {{ object.email }} </span>
                                    </li>
                                    <li class="list-group-item">
                                        Tipo de identificación
                                        <span class="pull-right"> {{ object.get_tipo_id_display | lower | capfirst}} </span>

                                    </li>
                                    <li class="list-group-item">
                                        Identificación
                                        <span class="pull-right"> {{ object.identificacion }} </span>
                                    </li>
                                    <li class="list-group-item">
                                        Fecha de nacimiento
                                        <span class="pull-right"> {{ object.fecha_nacimiento | date }} </span>
                                    </li>
                                    {% block mas_detalles %}
                                    {% endblock mas_detalles%}
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock contenido %}