{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="#">Gestión de usuarios</a>
    {% if not edicion %}
        <li class="active"> Registrar</li>
    {% else %}
        <li class="active"> Actualizar </li>
    {% endif %}
{% endblock miga_pan %}


{% block titulo_pagina %}
    {% if not edicion %}
        Registrar Usuario
    {% else %}
        Actualizar Usuario
    {% endif %}
{% endblock titulo_pagina %}

{% block titulo %}
    {% if not edicion %}
        Registrar Usuario
    {% else %}
        Actualizar Usuario
    {% endif %}
{% endblock titulo %}

{% block contenido %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data" id="usuario-form">{% csrf_token %}
                            {% bootstrap_field form.first_name  %}
                            {% bootstrap_field form.last_name  %}
                            {% bootstrap_field form.username  %}
                            {% if not edicion %}
                                {% bootstrap_field form.password  %}
                                {% bootstrap_field form.confirmar_pass  %}
                            {% endif %}
                            {% bootstrap_field form.tipo_id  %}
                            {% bootstrap_field form.identificacion  %}
                            {% bootstrap_field form.fecha_nacimiento  %}
                            {% bootstrap_field form.email  %}
                            {% bootstrap_field form.foto  %}
                            {% if not edicion %}
                                {% bootstrap_button "Registrar" button_type="submit" button_class="btn-primary"%}
                            {% else %}
                                {% bootstrap_button "Actualizar" button_type="submit" button_class="btn-primary"%}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock contenido %}