{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="#">Gestión de usuarios</a>
    <li class="active">Listar</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Registrar Usuario
{% endblock titulo_pagina %}

{% block titulo %}
    Registrar Usuario
{% endblock titulo %}

{% block contenido %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Listar Usuarios</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="tabla-usuarios">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Nombre de usuario</th>
                                        <th>Correo electrónico</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuario in object_list %}
                                        <tr>
                                            <td>{{ usuario.first_name }}</td>
                                            <td>{{ usuario.last_name }}</td>
                                            <td>{{ usuario.username }}</td>
                                            <td>{{ usuario.email }}</td>
                                            <td>{% if usuario.is_active %}
                                                    <label class="label label-primary">ACTIVO</label>
                                                {% else %}
                                                    <label class="label label-danger">INACTIVO</label>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    {% block opciones_usuario %}
                                                    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" aria-expanded="false">Opciones <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" class="font-bold"><i class="fa fa-eye text-success"></i> Ver más</a></li>
                                                        <li><a href="{% url 'gestion_usuarios:editar' usuario.id %}" class="font-bold"><i class="fa fa-edit text-info"></i> Editar</a></li>
                                                        <li><a href="{% url 'gestion_usuarios:cambio_estado' perfilusuario.id %}" class="font-bold"><i class="fa fa-ban text-danger"></i> Cambiar estado</a></li>
                                                    </ul>
                                                    {% endblock %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock contenido %}

{% block javascript %}
    <script>
        var id_datatable = '#tabla-usuarios';
    </script>
    <script src="{% static 'js/personalizado/generar_datatable.js' %}"></script>
{% endblock javascript %}