{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo_pagina %} {% endblock %}</title>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/bootstrap-validator/bootstrapValidator.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos-personalizados.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/toastr/toastr.css' %}" rel="stylesheet">

    {{ form.media }}

    {% block css %}

    {% endblock %}

</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                {% if user.is_authenticated %}
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user.get_full_name | capfirst}}</strong>
                                 </span>  </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="{{ usuario.get_absolute_url }}">Detalles</a></li>
                                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                                </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                {% endif %}
                {% include 'menus/base_menus.html' %}
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <!-- <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div> -->

                <ul class="nav navbar-nav navbar-left hidden-xs">
                    <ol class="breadcrumb pull-right" style="margin: 20px 0 0 45px">
                    {% block miga_pan %}

                    {% endblock %}
                    </ol>
                </ul>

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url "logout" %}">
                                <i class="fa fa-sign-out"></i> Cerrar sesión
                            </a>
                        {% else %}
                            <a href="{% url "login" %}">
                                <i class="fa fa-sign-in"></i> Iniciar sesión
                            </a>
                        {% endif %}
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>{% block titulo %}Título{% endblock %}</h2>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
            {% block contenido %}

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{% block titulo_panel %}{% endblock %}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            {% block contenido_panel %}
                            {% endblock %}

                        </div>
                    </div>
                </div>

            {% endblock %}
            </div>

        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script>
    var base = "{{ STATIC_URL }}";
</script>
<script src="{% static 'js/plugins/toastr/toastr.js' %}"></script>
<script>
    {% for msg in messages %}
        $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing",
                    }
                    toastr["{{ msg.tags }}"]("{{msg}}")
                },500);
        });
    {% endfor %}
</script>

{% block javascript %}
{% endblock %}

</body>

</html>