{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Login </title>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/bootstrap-validator/bootstrapValidator.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos-personalizados.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/toastr/toastr.css' %}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">Obs</h1>

            </div>
            <h3>Bienvenido al Escuela de Entrenamiento</h3>
            <p>Por favor inicie sesión</p>
            <form class="m-t" role="form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% for campo in form %}
                    {% bootstrap_field campo show_label=False %}
                {% endfor %}
                <button type="submit" class="btn btn-primary block full-width m-b">Iniciar sesión</button>

                <a href="#"><small>¿Olvidó su contraseña?</small></a>
            </form>
            <p class="m-t"> <small>Observatorio &copy; 2016</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->

<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script>
    var base = "{{ STATIC_URL }}";
</script>
<script src="{% static 'js/plugins/toastr/toastr.js' %}"></script>
<script>
    {% for msg in messages %}
        $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": false,
                        "showEasing": "swing",
                    }
                    toastr["{{ msg.tags }}"]("{{msg}}")
                },500);
        });
    {% endfor %}
</script>
</body>

</html>